:root {
  --heading-font: "Playfair Display", serif;
  --primary-font: "Poppins", sans-serif;
  --branding-colour: #f6f5f6;
  --font-colour: #272142;
  --link-colour: #cde1b9;
}

nav {
  padding: 20px;
}

nav img {
  max-height: 35px;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  padding-right: 10px;
  line-height: 42px;
  transition: all 100ms ease-in-out;
  font-family: var(--primary-font);
}

nav a {
  text-decoration: none;
  opacity: 0.7;
  color: var(--font-colour);
}
nav .active {
  color: var(--link-colour);
}

nav li a:hover {
  color: var(--link-colour);
}

h1 {
  font-family: var(--heading-font);
  font-size: 96px;
  font-weight: 700;
}

.hero {
  text-align: center;
  padding: 120px;
  background: var(--branding-colour);
}

.hero h2 {
  font-size: 36px;
  line-height: 54px;
  font-weight: bold;
  font-family: var(--primary-font);
  color: var(--font-colour);
}

.hero h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  font-family: var(--primary-font);
  color: var(--font-colour);
}

.primary-button {
  background: var(--link-colour);
  padding: 18px 30px;
  border-radius: 4px;
  font-family: var(--primary-font);
  color: white;
  text-decoration: none;
}

.body-header {
  font-family: var(--primary-font);
  margin: 40px 0;
}

.project-container h2 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 110px;
}

.project-container p {
  font-family: var(--primary-font);
  color: var(--font-colour);
  opacity: 0.7;
  line-height: 30px;
}

.project-container a {
  padding: 18px 30px;
  border-radius: 4px;
  font-family: var(--primary-font);
  text-decoration: none;
  border: 1px solid var(--link-colour);
  color: var(--link-colour);
}

.project-container .project-button {
  margin-top: 50px;
}

.project-description {
  padding: 60px 45px;
}

header {
  margin-top: 120px;
}

.content {
  text-align: center;
  margin-bottom: 20px;
}
.content h1 {
  font-size: 64px;
}
.content h2 {
  font-size: 18px;
  color: var(--font-colour);
  font-weight: 700;
  margin: 30px 0;
}

.content h3 {
  color: black;
  font-weight: 700;
}

.content p {
  margin-bottom: 40px;
  color: var(--font-colour);
  opacity: 0.7;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 30px;
}

.profile-pic {
  border-radius: 4px;
}

.contact-social-link {
  text-decoration: none;
  color: var(--link-colour);
}

.content a:hover {
  text-decoration: underline;
}

footer .work-enquiry-box {
  background: var(--branding-colour);
  padding: 30px 60px;
  margin: 100px 0;
  border-radius: 4px;
}

footer h4 {
  font-family: var(--heading-font);
  font-size: 48px;
  font-weight: 700;
}

footer p {
  font-family: var(--primary-font);
  color: var(--font-colour);
  opacity: 0.7;
}

footer a {
  display: block;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  font-family: var(--primary-font);
  color: black;
  transition: all 100ms ease-in-out;
}

footer a:hover {
  color: var(--link-colour);
}

footer .social-links {
  color: var(--link-colour);
  font-size: 18px;
  padding: 10px 14px;
  margin: 20px;
  background: var(--branding-colour);
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links:hover {
  background: var(--link-colour);
  color: white;
}

@media (max-width: 991px) {
  h1,
  .content h1 {
    font-size: 28px;
  }

  .hero h2 {
    font-size: 17px;
    margin: 0;
  }

  .hero h3 {
    font-size: 12px;
  }

  .primary-button,
  .project-button {
    font-size: 12px;
  }

  .project-description h2 {
    padding: 0;
  }

  .project-description h2 {
    font-size: 30px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .profile-pic {
    margin-top: 60px;
    padding: 20px;
    border-radius: 4px;
  }

  .content h3 {
    font-size: 18px;
  }
}
